<!DOCTYPE html>
html(lang="en")
    head 
        title Home Page
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            nav
                a.active(href="/") Home
                a(href="/products") Products
                a(href="/rateing") Rateing

        main
            h1 This is a Home page
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aspernatur placeat at in repudiandae. Fugit nostrum eum voluptates corrupti expedita, velit accusamus debitis in soluta, ad harum necessitatibus ipsam pariatur possimus voluptate quia quisquam, distinctio sapiente odit cum culpa dolore! Molestias eveniet nobis eaque unde sit rerum doloribus repudiandae aperiam?