<aside class="widget-area">
    <section class="widget widget_tag_cloud">
        <p><b>Selected Categories</b></p>
        <div class="tagcloud">
            <label for="selected_category_1" class="round-square-checkbox signed_label">
                <input type="checkbox" id="selected_category_1" checked />
                <span>Business</span>
            </label>
            <label for="selected_category_2" class="round-square-checkbox signed_label">
                <input type="checkbox" id="selected_category_2" checked />
                <span>Design</span>
            </label>
            <label for="selected_category_3" class="round-square-checkbox signed_label">
                <input type="checkbox" id="selected_category_3" checked />
                <span>IT</span>
            </label>
            <label for="selected_category_4" class="round-square-checkbox signed_label">
                <input type="checkbox" id="selected_category_4" checked />
                <span>Marketing</span>
            </label>
            <label for="selected_category_5" class="round-square-checkbox signed_label">
                <input type="checkbox" id="selected_category_5" checked />
                <span>Mobile</span>
            </label>
            <label for="selected_category_6" class="round-square-checkbox signed_label">
                <input type="checkbox" id="selected_category_6" checked />
                <span>Protect</span>
            </label>
            <label for="selected_category_7" class="round-square-checkbox signed_label">
                <input type="checkbox" id="selected_category_7" checked />
                <span>Startup</span>
            </label>
            <label for="selected_category_8" class="round-square-checkbox signed_label">
                <input type="checkbox" id="selected_category_8" checked />
                <span>Tips</span>
            </label>
        </div>
    </section>

    <section class="widget wiget_posts_thumbs">
        <h3 class="widget-title">Who to follow</h3>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg1"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>The 5 most iconic songs of all time have
                            been
                            revealed.</b></a></h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="followed_1" class="oval_checkbox">
                    <input type="checkbox" id="followed_1" checked>
                    <span>Followed</span>
                </label>
            </div>
        </article>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg2"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>Google web ranking changing much
                            company</b></a>
                </h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="followed_2" class="oval_checkbox">
                    <input type="checkbox" id="followed_2" checked>
                    <span>Followed</span>
                </label>
            </div>
        </article>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg3"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>10 Tactics for marketing your
                            company</b></a></h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="followed_3" class="oval_checkbox">
                    <input type="checkbox" id="followed_3" checked>
                    <span>Followed</span>
                </label>
            </div>
        </article>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg4"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>The 5 most iconic songs of all time have
                            been
                            revealed.</b></a></h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="followed_4" class="oval_checkbox">
                    <input type="checkbox" id="followed_4" checked>
                    <span>Followed</span>
                </label>
            </div>
        </article>
    </section>
</aside>