<aside class="widget-area">
    <section class="widget widget_tag_cloud">
        <p><b>Unselected Categories</b></p>
        <div class="tagcloud">
            <label for="unselected_category_1" class="round-square-checkbox">
                <input type="checkbox" id="unselected_category_1" />
                <span>Programming</span>
            </label>
            <label for="unselected_category_2" class="round-square-checkbox">
                <input type="checkbox" id="unselected_category_2" />
                <span>Technology</span>
            </label>
            <label for="unselected_category_3" class="round-square-checkbox">
                <input type="checkbox" id="unselected_category_3" />
                <span>Luxury Cars</span>
            </label>
        </div>
    </section>

    <section class="widget wiget_posts_thumbs">
        <h3 class="widget-title">Who Un-Followed</h3>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg1"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>The 5 most iconic songs of all time have
                            been
                            revealed.</b></a></h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="unfollow_1" class="oval_checkbox">
                    <input type="checkbox" id="unfollow_1">
                    <span>Follow</span>
                </label>
            </div>
        </article>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg2"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>Google web ranking changing much
                            company</b></a>
                </h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="unfollow_2" class="oval_checkbox">
                    <input type="checkbox" id="unfollow_2">
                    <span>Follow</span>
                </label>
            </div>
        </article>
    </section>
</aside>