<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg1"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Fashion</a></div>
            <h3 class="title"><a href="#">26 Fashion Blogs You Need to Follow in 2021</a>
            </h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> February 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg2"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Lifestyle</a></div>
            <h3 class="title"><a href="#">10 Slip Dresses you need and How to Wear them</a>
            </h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> January 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg3"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Fashion</a></div>
            <h3 class="title"><a href="#">Shopping in Las Vegas – our favourite hot
                    spots</a></h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> March 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg4"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Fashion</a></div>
            <h3 class="title"><a href="#">How to survive a Long-Haul Flight in style</a>
            </h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> February 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg5"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Fashion</a></div>
            <h3 class="title"><a href="#">Lace as day wear – for the races and more</a></h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> December 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg6"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Fashion</a></div>
            <h3 class="title"><a href="#">Amanda Monique, combining comfort and Australian
                    style</a>
            </h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> February 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg7"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Fashion</a></div>
            <h3 class="title"><a href="#">7 Brilliant Tricks Shy Guys Use To Talk To
                    Girls</a></h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> February 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg8"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Fashion</a></div>
            <h3 class="title"><a href="#">11 Borderline Creepy Things Every Girl Does When
                    She Has a
                    Crush</a></h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> February 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg9"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Lifestyle</a></div>
            <h3 class="title"><a href="#">Beauty Tips for A Fresh Look The Day After A Night
                    Out</a>
            </h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> February 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="blog-box">
    <div class="d-flex flex-wrap">
        <div class="posts-thumb align-self-stretch">
            <a href="#"> <span class="fullimage thumb-bg10"></span> </a>
        </div>
        <div class="posts-content">
            <div class="cat"><a href="#">Fashion</a></div>
            <h3 class="title"><a href="#">Perceptions of Beauty and Happiness from Various
                    Cultures</a></h3>
            <div class="posts-meta">
                <span class="posts-author"> <a href="#">Sarah Taylor</a> </span> <span
                    class="posts-date"> February 25, 2021 </span>
            </div>
            <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                Curabitur
                elementum nunc.</p>
            <a href="#" class="read-more-btn"><span>Read More</span> <i
                    class="icofont-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="pagination-area" style="text-align: left;">
    <a href="#" class="prev page-numbers text-center"><i class="icofont-double-left"></i></a> 
    <a href="#" class="page-numbers text-center">1</a>
    <a href="#" class="page-numbers text-center">2</a>
    <a href="#" class="page-numbers text-center">3</a>
    <a href="#" class="page-numbers text-center">4</a>
    <a href="#" class="next page-numbers text-center"><i class="icofont-double-right"></i></a>
</div>