<aside class="widget-area mb-5">
    <section class="widget wiget_posts_thumbs">
        <h3 class="widget-title">Who to follow</h3>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg1"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>The 5 most iconic songs of all time have
                            been
                            revealed.</b></a></h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="folow_1" class="oval_checkbox">
                    <input type="checkbox" id="folow_1">
                    <span>Follow</span>
                </label>
            </div>
        </article>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg2"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>Google web ranking changing much
                            company</b></a>
                </h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="folow_2" class="oval_checkbox">
                    <input type="checkbox" id="folow_2">
                    <span>Follow</span>
                </label>
            </div>
        </article>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg3"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>10 Tactics for marketing your
                            company</b></a></h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="folow_3" class="oval_checkbox">
                    <input type="checkbox" id="folow_3">
                    <span>Follow</span>
                </label>
            </div>
        </article>
        <article class="follow_box">
            <a href="#" class="thumb"> <span class="fullimage thumb-bg4"></span> </a>
            <div class="info">
                <h4 class="title"><a href="#"><b>The 5 most iconic songs of all time have
                            been
                            revealed.</b></a></h4>
                <p>Lorem ipsum dolor, sit amet hdhd adipisicing elit...</p>
                <label for="folow_4" class="oval_checkbox">
                    <input type="checkbox" id="folow_4">
                    <span>Follow</span>
                </label>
            </div>
        </article>
    </section>
    <section class="widget widget_tag_cloud">
        <p><b>Suggested Categories</b></p>
        <div class="tagcloud">
            <label for="suggested_category_1" class="round-square-checkbox">
                <input type="checkbox" id="suggested_category_1" />
                <span>Programming</span>
            </label>
            <label for="suggested_category_2" class="round-square-checkbox">
                <input type="checkbox" id="suggested_category_2" />
                <span>Technology</span>
            </label>
            <label for="suggested_category_3" class="round-square-checkbox">
                <input type="checkbox" id="suggested_category_3" />
                <span>Luxury Cars</span>
            </label>
        </div>
    </section>
</aside>