<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
        <form action="/submit-product" method="POST">
            <div class="form-group">
                <label for="prodName">Name</label><br />
                <input type="text" name="name" class="form-control" id="prodName" required />
            </div><br />
            <div class="form-group">
                <label for="prodCategory">Category</label><br />
                <input type="text" name="category" id="prodCategory" required />
            </div><br />
            <div class="form-group">
                <label for="prodDescription">Description</label><br />
                <textarea name="desciption" id="prodDescription" required></textarea><br />
            </div><br />
            <div class="form-group">
                <label for="prodPrice">Price</label><br />
                <input type="number" name="price" id="prodPrice" required style="width: 180px" />
            </div><br />
            <button type="submit">Send</submit>
        </form>
</body>
</html>