<main>
    <h1>Add Product</h1>
    <form action="/submit-product" method="POST" class="medium-form">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="prodName">Name</label><br />
                    <input type="text" name="name" class="form-control height-control" id="prodName" placeholder="Type....." required />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="prodCategory">Category</label><br />
                    <input type="text" name="category" class="form-control height-control" id="prodCategory" placeholder="Type....." required />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="prodPrice">Price</label><br />
                    <input type="number" name="price" class="form-control height-control" id="prodPrice" placeholder="Type....." required min="1" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="prodDescription">Description</label><br />
                    <textarea name="desciption" class="form-control textarea-height" id="prodDescription" placeholder="Type....." required></textarea>
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Send</submit>
    </form>
</main>