<main>
    <h1>This is a Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aspernatur placeat at in repudiandae. Fugit nostrum eum voluptates corrupti expedita, velit accusamus debitis in soluta, ad harum necessitatibus ipsam pariatur possimus voluptate quia quisquam, distinctio sapiente odit cum culpa dolore! Molestias eveniet nobis eaque unde sit rerum doloribus repudiandae aperiam?</p>
</main>