<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <%- include('./pages/admin-products.component.ejs') %>
    </main>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>