<section class="add_product pt-5 pb-5">
    <div class="container">
        <form action="/admin/submit-product" method="POST" class="custom_form">
            <div class="form-group mb-4">
                <label for="titleField">Title</label>
                <input type="text" name="title" id="titleField" class="form-control" />
            </div>
            <div class="form-group mb-4">
                <label for="imageurlField">Image URL</label>
                <input type="text" name="imageUrl" id="imageurlField" class="form-control" />
            </div>
            <div class="form-group mb-4">
                <label for="priceField">Price</label>
                <input type="number" name="price" id="priceField" class="form-control" />
            </div>
            <div class="form-group">
                <label for="descriptionField">Description</label>
                <textarea name="description" id="descriptionField" class="form-control"></textarea>
            </div>
            <div class="form-group pt-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</section>