<owl-carousel-o class="overflow-visible nav_center_center" [options]="customOptions">
  <ng-template carouselSlide>
    <div class="template_box full_height">
      <img src="https://www.livecareer.co.uk/content/images/uk/jt-images/template-cv8.svg" alt="template 1" />

      <div class="temp_inner">
        <a href="#" class="btn btn-primary btn-block">Build Your CV</a>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="template_box full_height">
      <img src="https://www.livecareer.co.uk/content/images/uk/jt-images/template-cv8.svg" alt="template 1" />

      <div class="temp_inner">
        <a href="#" class="btn btn-primary btn-block">Build Your CV</a>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="template_box full_height">
      <img src="https://www.livecareer.co.uk/content/images/uk/jt-images/template-cv8.svg" alt="template 1" />

      <div class="temp_inner">
        <a href="#" class="btn btn-primary btn-block">Build Your CV</a>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="template_box full_height">
      <img src="https://www.livecareer.co.uk/content/images/uk/jt-images/template-cv8.svg" alt="template 1" />

      <div class="temp_inner">
        <a href="#" class="btn btn-primary btn-block">Build Your CV</a>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
