<div>
    <h1>My Cart</h1>
    <p>No Products added to cart yet</p><br />
    <button>Add to cart</button>

    <table border="1" width="100%" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th align="center" width="15%" style="padding: 5px 7px;">S.No</th>
                <th align="center" width="50%" style="padding: 5px 7px;">Product</th>
                <th align="center" width="15%" style="padding: 5px 7px;">Price</th>
                <th align="center" width="20%" style="padding: 5px 7px;">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center" style="padding: 5px 7px;">1</td>
                <td align="center" style="padding: 5px 7px;">product 1</td>
                <td align="center" style="padding: 5px 7px;"><b>$150.00</b></td>
                <td align="center" style="padding: 5px 7px;">
                    <button>-</button>
                    <input type="text" placeholder="quantity" style="width: 80px;text-align:center;" >
                    <button>+</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td align="center" style="padding: 5px 7px;text-align: right;" colspan="3"><b>Grand Total</b></td>
                <td align="center" style="padding: 5px 7px;">
                    $150.00
                </td>
            </tr>
        </tfoot>
    </table><br />

    <div style="text-align: right;">
        <button>Checkout</button>
    </div>
</div>