<div>
    <button><a href="/shop">Back</a></button>
    <h1>Product 1</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat deserunt ad qui saepe mollitia maiores quas maxime accusantium sunt vel voluptas possimus quasi labore officiis aliquam porro adipisci nostrum, ipsam numquam praesentium. </p>
    <b>$150.00</b><br /><br />
    <button>Add to Cart</button>
    &nbsp;&nbsp;
    <button>-</button><input type="text" placeholder="quantity" style="width: 80px" ><button>+</button>
</div>