<div>
    <h1>Product List</h1>

    <p>No Products added yet</p>
    
    <article style="border: 1px dashed #000;padding: 20px;">
        <img src="https://5.imimg.com/data5/SQ/UH/MY-2764674/mix-dry-fruits-500x500.jpg" alt="Dry Fruits" style="width: 200px" />
        <h4>product 1</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat deserunt ad qui saepe mollitia maiores quas maxime accusantium sunt vel voluptas possimus quasi labore officiis aliquam porro adipisci nostrum, ipsam numquam praesentium. </p>
        <b>$150.00</b><br /><br />
        <button>Add to Cart</button>
        <button><a href="/detail">View Detail</a></button>
        <br />
    </article>
</div>