<!-- Start Contact Us Area -->
<section class="contact-area pb-40">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icofont-home"></i> Home</a></li>
            <li><i class="icofont-rounded-right"></i></li>
            <li>Write Post</li>
        </ul>

        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div class="contact-form">
                    <h3>Write Blog</h3>

                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control fw-bold" id="name" placeholder="Blog Title" required data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 mt-3">
                                <div class="form-group d-flex image_list">
                                    <div class="post-img">
                                        <img src="/theme/front/assets/img/1.jpg" alt="blog-image" />
                                        <button class="delete-it">x</button>
                                    </div>
                                    <div class="post-img">
                                        <img src="/theme/front/assets/img/1.jpg" alt="blog-image" />
                                        <button class="delete-it">x</button>
                                    </div>
                                    <div class="post-img">
                                        <img src="/theme/front/assets/img/1.jpg" alt="blog-image" />
                                        <button class="delete-it">x</button>
                                    </div>
                                    <div class="post-img">
                                        <img src="/theme/front/assets/img/1.jpg" alt="blog-image" />
                                        <button class="delete-it">x</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 mt-4">
                                <div class="form-group">
                                    <input type="file" class="form-control" accept="image/*" required multiple>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea id="summernote"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary">Post</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Area -->