<section class="features-list">
  <div class="container">
    <h2>Easiest and most feature-packed CV builder available</h2>
    <div class="row main_row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="feature-box">
          <div class="image">
            <img src="../../../../../assets/images/data.png" alt="data" />
          </div>
          <div class="context">
            <h3>Step-by-step builder</h3>
            <p>Easy to use step-by-step builder enables you to create a well-polished, professional CV in minutes. Impress. Save time.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="feature-box">
          <div class="image">
            <img src="../../../../../assets/images/list.png" alt="list" />
          </div>
          <div class="context">
            <h3>Pre-written content</h3>
            <p>Make your CV more sophisticated. Select from thousands of pre-written bullet points for hundreds of jobs and careers. Just click and insert them directly into your CV!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="feature-box">
          <div class="image">
            <img src="../../../../../assets/images/file.png" alt="file" />
          </div>
          <div class="context">
            <h3>Expert tips & guidance</h3>
            <p>Get detailed CV-building tips and advice every step of the way. CV pro or beginner - we've got you covered.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="feature-box">
          <div class="image">
            <img src="../../../../../assets/images/folder.png" alt="folder" />
          </div>
          <div class="context">
            <h3>Unlimited CVs & Downloads</h3>
            <p>No limit on the number of CVs you can create. Unlimited printing, sharing and downloading in PDF, Word, plain text or image formats. Limitless creativity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
