<html data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-layout-mode="light" data-body-image="img-1" data-preloader="disable">


<!-- Mirrored from themesbrand.com/velzon/html/galaxy/auth-signin-cover.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 Jan 2023 11:34:11 GMT -->
<head>

    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/themes/velnoz/assets/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="/themes/velnoz/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="/themes/velnoz/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/themes/velnoz/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/themes/velnoz/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/themes/velnoz/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>