 <!--start back-to-top-->
 <button onclick="topFunction()" class="btn btn-primary btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->
 
 <!-- JAVASCRIPT -->
 <script src="/themes/velnoz/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="/themes/velnoz/assets/libs/simplebar/simplebar.min.js"></script>
 <script src="/themes/velnoz/assets/libs/node-waves/waves.min.js"></script>
 <script src="/themes/velnoz/assets/libs/feather-icons/feather.min.js"></script>
 <script src="/themes/velnoz/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
 <script src="/themes/velnoz/assets/js/plugins.js"></script>

 <!-- password-addon init -->
 <script src="/themes/velnoz/assets/js/pages/password-addon.init.js"></script>


 <!-- apexcharts -->
 <script src="/themes/velnoz/assets/libs/apexcharts/apexcharts.min.js"></script>

 <!-- Vector map-->
 <script src="/themes/velnoz/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
 <script src="/themes/velnoz/assets/libs/jsvectormap/maps/world-merc.js"></script>

 <!--Swiper slider js-->
 <script src="/themes/velnoz/assets/libs/swiper/swiper-bundle.min.js"></script>

 <!-- Dashboard init -->
 <script src="/themes/velnoz/assets/js/pages/dashboard-ecommerce.init.js"></script>

 <!-- App js -->
 <script src="/themes/velnoz/assets/js/app.js"></script>