<%- include('../../shared/head.ejs') %>
    </head>

    <body>
        <%- include('../../shared/front-header.ejs') %>
        <%- include('../../components/cart.component.ejs') %>
    </body>

    </html>