<header>
    <a href="/" class="<%= path==='/'?'active':''%>">Home</a>&nbsp;&nbsp;
    <a href="/" class="<%= path==='/admin'?'active':''%>">Admin</a>&nbsp;&nbsp;
    <a href="/admin/add-product" class="<%= path==='/admin/add-product'?'active':''%>">Add Produt</a>&nbsp;&nbsp;
    <a href="/admin/admin-products" class="<%= path==='/admin/admin-products'?'active':''%>">Products</a>&nbsp;&nbsp;
</header>
<hr>