<header>
    <a href="/" class="<%= path==='/'?'active':''%>">Home</a>&nbsp;&nbsp;
    <a href="/shop" class="<%= path==='/shop'?'active':''%>">Shop</a>&nbsp;&nbsp;
    <a href="/cart" class="<%= path==='/cart'?'active':''%>">Cart</a>&nbsp;&nbsp;
    <a href="/admin" class="<%= path==='/admin'?'active':''%>">Admin</a>
</header>
<hr>