<!DOCTYPE html>
html(lang="en")
    head 
        title #{pageTitle}
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/style.css")
        block styles
    body
        header
            nav
                a(href="/", class=(path === "/" ? 'active':'')) Home
                a(href="/products", class=(path === "/products" ? 'active':'' || path === "/add-product" ? 'active':'')) Products
                a(href="/rateing", class=(path === '/rateing' ? 'active':'' || path === '/add-rateing' ? 'active':'')) Rateing

        block content